.account-cart-box {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
}

.account-div:hover > .account-menu {
    display: flex;
    flex-direction: column;
}

.account-menu {
    position: absolute;
    display: none;
    background-color: #34000b;
    width: 200px;
    border: 1px solid white;
    z-index: 1300;
}

.account-menu div {
    position: relative; /* Required for ::after to be positioned correctly */
    padding: 4px;
    cursor: pointer;
}

.account-menu div a {
    position: relative; /* anchor becomes the positioning context for ::after */
    display: inline-block; /* makes the a-tag size to the text width */
    text-decoration: none;
    color: white;
}

.account-menu div a:after {
    content: '';
    position: absolute;
    left: 0;
    top: 47%;
    width: 100%;
    height: 2px;
    background: darkred;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.account-menu div a:hover::after {
    transform: scaleX(1);
}

.account-menu div a:visited {
    color: white;
}

.account-menu div a:hover {
    color: white;
}

.account-menu div a:active {
    color: white;
}

.account-button.account-button {
    color: white;
    font-size: 17px;
    font-family: 'Lato';
    text-transform: none;
    margin-right: 10px;
}

.account-button.account-button:hover {
    color: darkred;
}

.account-button.account-button:after {
    content: '';
    position: absolute;
    left: 0;
    top: 47%;
    width: 100%;
    height: 2px;
    background: darkred;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.account-button.account-button:hover::after {
    transform: scaleX(1);
}


.cart-button.cart-button {
    color: white;
    font-size: 17px;
    font-family: 'Lato';
    text-transform: none;
    margin-left: 10px;
}

.cart-button.cart-button:hover {
    color: darkred;
}

.cart-button.cart-button::after {
    content: '';
    position: absolute;
    left: 0;
    top: 47%;
    width: 100%;
    height: 2px;
    background: darkred;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.cart-button.cart-button:hover::after {
    transform: scaleX(1);
}
